<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content">
      <ion-content>
        <!-- <ion-card text-center *ngIf="isLoggedIn()" class="hide-card">
          
        </ion-card> -->
        <div *ngIf="picturePath" routerLink="/myAccount" style="outline: none;text-align: center;">
          <img [src]="picturePath" class="custom-avatar" crossorigin="anonymous"/>
          <br>
          <ion-label>{{user.fullName}}</ion-label>
        </div>
        <ion-list id="inbox-list">
          <ion-list-header>
            <img src="assets/icon/nazar.png" style="max-width: 40px;" />
            Falcım
          </ion-list-header>
          <!-- <ion-note>hi@ionicframework.com</ion-note> -->
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" routerLink="/mainPage" lines="none" detail="false" >
              <ion-icon slot="start" [md]="'home-outline'"></ion-icon>
              <ion-label>Anasayfa</ion-label>
            </ion-item>
            <ion-item *ngIf="!isLoggedIn()" routerDirection="root" routerLink="/login" lines="none" detail="false" >
              <ion-icon slot="start" [md]="'log-in-outline'"></ion-icon>
              <ion-label>Üye Girişi</ion-label>
            </ion-item>
            <ion-item routerDirection="root" routerLink="/falciList" lines="none" detail="false" >
              <ion-icon slot="start" [md]="'people-outline'"></ion-icon>
              <ion-label>Falcılar</ion-label>
            </ion-item>
            <ion-item *ngIf="isLoggedIn()=='Consumer'" routerDirection="root" routerLink="/myFals" lines="none" detail="false" >
              <ion-icon slot="start" [md]="'cafe-outline'"></ion-icon>
              <ion-label>Fallarım</ion-label>
            </ion-item>
            <ion-item *ngIf="isLoggedIn()=='Falci'" routerDirection="root" routerLink="/fortuneTellerFals" lines="none" detail="false" >
              <ion-icon slot="start" [md]="'cafe-outline'"></ion-icon>
              <ion-label>Gelen Fallar</ion-label>
            </ion-item>
            <!-- <ion-item *ngIf="isLoggedIn()" routerDirection="root" routerLink="/incomingMessages" lines="none" detail="false" >
              <ion-icon slot="start" [ios]="'mail'" [md]="'mail'"></ion-icon>
              <ion-label>Gelen Mesajlar</ion-label>
            </ion-item> -->
            <ion-item *ngIf="isLoggedIn()" routerDirection="root" routerLink="/myAccount" lines="none" detail="false" >
              <ion-icon slot="start" [md]="'person-outline'"></ion-icon>
              <ion-label>Üyelik Bilgilerim</ion-label>
            </ion-item>
            <ion-item *ngIf="isLoggedIn()=='Consumer' && (isAndroid || 1)" routerDirection="root" routerLink="/pointList" lines="none" detail="false" >
              <ion-icon slot="start" name="pricetags-outline"></ion-icon>
              <ion-label>Puan Satın Al</ion-label>
            </ion-item>
            <ion-item routerDirection="root" (click)="logout()" routerLink="" *ngIf="isLoggedIn()" lines="none" detail="false">
              <ion-icon slot="start" [md]="'exit-outline'"></ion-icon>
              <ion-label>Çıkış</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <span style="opacity: 0.0;">{{ picturePath }}</span>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
