<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Falcım</ion-list-header>
          <!-- <ion-note>hi@ionicframework.com</ion-note> -->

          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" routerLink="/mainPage" lines="none" detail="false" >
              <ion-icon slot="start" [md]="'home-outline'"></ion-icon>
              <ion-label>Anasayfa</ion-label>
            </ion-item>
            <ion-item *ngIf="!isLoggedIn()" routerDirection="root" routerLink="/login" lines="none" detail="false" >
              <ion-icon slot="start" [md]="'log-in-outline'"></ion-icon>
              <ion-label>Üye Girişi</ion-label>
            </ion-item>
            <!-- <ion-item *ngIf="!isLoggedIn()" routerDirection="root" routerLink="/register" lines="none" detail="false" >
              <ion-icon slot="start" [ios]="'heart-outline'" [md]="'heart-sharp'"></ion-icon>
              <ion-label>Yeni Üye</ion-label>
            </ion-item> -->
            <ion-item routerDirection="root" routerLink="/falciList" lines="none" detail="false" >
              <ion-icon slot="start" [md]="'people-outline'"></ion-icon>
              <ion-label>Falcılar</ion-label>
            </ion-item>
            <!-- <ion-item routerDirection="root" routerLink="/newfal" lines="none" detail="false" >
              <ion-icon slot="start" [ios]="'heart-outline'" [md]="'heart-sharp'"></ion-icon>
              <ion-label>Yeni Fal</ion-label>
            </ion-item> -->
            <ion-item *ngIf="isLoggedIn()=='Consumer'" routerDirection="root" routerLink="/myFals" lines="none" detail="false" >
              <ion-icon slot="start" [md]="'cafe-outline'"></ion-icon>
              <ion-label>Fallarım</ion-label>
            </ion-item>
            <ion-item *ngIf="isLoggedIn()=='Falci'" routerDirection="root" routerLink="/fortuneTellerFals" lines="none" detail="false" >
              <ion-icon slot="start" [md]="'cafe-outline'"></ion-icon>
              <ion-label>Gelen Fallar</ion-label>
            </ion-item>
            <!-- <ion-item *ngIf="isLoggedIn() == constants.userRoles.consumer" routerDirection="root" routerLink="/buyPoint" lines="none" detail="false" >
              <ion-icon slot="start" [ios]="'heart-outline'" [md]="'heart-sharp'"></ion-icon>
              <ion-label>Puan Satın Al</ion-label>
            </ion-item> -->
            <!-- <ion-item *ngIf="isLoggedIn()" routerDirection="root" routerLink="/incomingMessages" lines="none" detail="false" >
              <ion-icon slot="start" [ios]="'mail'" [md]="'mail'"></ion-icon>
              <ion-label>Gelen Mesajlar</ion-label>
            </ion-item> -->
            <ion-item *ngIf="isLoggedIn()" routerDirection="root" routerLink="/myAccount" lines="none" detail="false" >
              <ion-icon slot="start" [md]="'person-outline'"></ion-icon>
              <ion-label>Üyelik Bilgilerim</ion-label>
            </ion-item>
            <!-- <ion-item routerDirection="root" routerLink="/newPersonalTest" lines="none" detail="false" >
              <ion-icon slot="start" [ios]="'archive'" [md]="'archive'"></ion-icon>
              <ion-label>Yeni Kişilik Testi</ion-label>
            </ion-item>
            <ion-item routerDirection="root" routerLink="/newTrueFalseTest" lines="none" detail="false" >
              <ion-icon slot="start" [ios]="'warning'" [md]="'warning'"></ion-icon>
              <ion-label>Yeni Doğru/Yanlış Testi</ion-label>
            </ion-item>
            <ion-item routerDirection="root" routerLink="/viewNewsItem" lines="none" detail="false" >
              <ion-icon slot="start" [ios]="'heart-outline'" [md]="'heart-sharp'"></ion-icon>
              <ion-label>Haber İncele</ion-label>
            </ion-item> -->
            <ion-item routerDirection="root" (click)="logout()" routerLink="" *ngIf="isLoggedIn()" lines="none" detail="false">
              <ion-icon slot="start" [md]="'exit-outline'"></ion-icon>
              <ion-label>Çıkış</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
