  
<div class="crop"
  [style.width.px]="starWidth"
  [title]="rating"
  (click)="onClick()">

  <div style="width: 75px">
    <span><ion-icon name="star" style="color:rgb(59, 100, 236);"></ion-icon></span>
    <span><ion-icon name="star" style="color:rgb(59, 100, 236);"></ion-icon></span>
    <span><ion-icon name="star" style="color:rgb(59, 100, 236);"></ion-icon></span>
    <span><ion-icon name="star" style="color:rgb(59, 100, 236);"></ion-icon></span>
    <span><ion-icon name="star" style="color:rgb(59, 100, 236);"></ion-icon></span>
  </div>
</div>