<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Yeni {{ 'FalType.' + this.falType | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">  
  <ion-grid fixed>
    <ion-row>
      <ion-col size="3" size-md="2" *ngFor="let falImage of falImages;let indexOfElement = index;">
        <ion-card (click)="imageSelected(indexOfElement)">
          <ion-card-content>
            <span>
              <img [src]="falImage" />
            </span>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <br>
   <ion-list>
    <ion-item> 
      <ion-label>Falcı</ion-label> 
      <ion-select #newSelect formControlName="selectedFalci" (ionChange)="onSelectedFalciChanged($event)" >
        <ion-select-option *ngFor="let fortuneTeller of fortuneTellers;" [value]="fortuneTeller.id" >{{ fortuneTeller.fullName }} ({{ fortuneTeller.coffeePointPrice }} Puan)</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list> 
  <ion-list>
    <ion-item>
      <ion-label>Konu</ion-label> 
      <ion-select formControlName="type" (ionChange)="onSelectedTypeChanged($event)">
        <ion-select-option value="0" >Genel</ion-select-option>
        <ion-select-option value="1" >Para</ion-select-option>
        <ion-select-option value="2" >İş</ion-select-option>
        <ion-select-option value="3" >Aşk</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list> 
  <br>
  <ion-button (click)="submit()" [disabled]="submitting">Gönder</ion-button>
</ion-content>
