<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Üyelik Bilgilerim</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  fullscreen="true">
  <div class="profile-picture">
    <img id="profilePic"  crossOrigin="anonymous" *ngIf="profilePicture == null && userInfo?.picturePath != null" [src]="environment.urlForAssets + constants.folderForProfilePictures + userInfo?.picturePath"><br>
    <img *ngIf="profilePicture != null" [src]="profilePicture"><br>
  </div>

  <ion-list *ngIf="role == constants.userRoles.consumer">
    <ion-item>
      <ion-label color="primary">Üye İsimi</ion-label>
      <ion-label>{{userInfo?.userName}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label color="primary">İsim</ion-label>
      <ion-label>{{userInfo?.fullName}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label color="primary">Email</ion-label>
      <ion-label>{{userInfo?.email}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label color="primary">Cinsiyet</ion-label>
      <ion-label  *ngIf="userInfo?.gender">{{userInfo?.gender | translate}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label color="primary">İlişki Durumu</ion-label>
      <ion-label *ngIf="userInfo?.relationshipStatus">{{'RelationshipStatus.' + userInfo?.relationshipStatus | translate}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label color="primary">Doğum Tarihi</ion-label>
      <ion-label>{{userInfo?.birthDate | date: 'dd.LL.yyyy'}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label color="primary">Doğum Zamanı</ion-label>
      <ion-label>{{userInfo?.birthTime | date: 'HH:mm'}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label color="primary">Meslek</ion-label>
      <ion-label>{{userInfo?.job}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label color="primary">Puan</ion-label>
      <ion-label>{{userInfo?.point}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="role == constants.userRoles.falci">
    <ion-item>
      <ion-label color="primary">Üye İsimi</ion-label>
      <ion-label>{{userName}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label color="primary">İsim</ion-label>
      <ion-label>{{userInfo?.fullName}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label color="primary">Fal sayısı</ion-label>
      <ion-label>{{userInfo?.coffeFortuneTellingCount}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label color="primary">Fal puanı</ion-label>
      <ion-label>{{userInfo?.coffeePointPrice}}</ion-label>
    </ion-item>
  </ion-list>

  <div style="text-align: center;">
    <ion-button (click)="loadImage()">Profil Fotoğrafı Değiştir</ion-button>
    <ion-button routerLink="/changePassword">Şifre Değiştir</ion-button>
    <ion-button routerLink="/updateAccount">Profil Bilgilerini Değiştir</ion-button>
  </div>
</ion-content>
