<ion-content class="survey-detail">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="survey != null">
    <img [src]="environment.urlForAssets + constants.folderForFeedPictures + survey.mainPhoto" style="width:100%">
  </div>

  <div class="ion-padding survey-detail" *ngIf="survey != null">
    <h2>{{survey.title}}</h2>
    <hr>
    <p>
      {{survey.infoHtml}}
    </p>
    <div *ngFor="let question of survey.items" style="padding-bottom: 30px;">
      <div>{{ question.question }}</div>
      <div *ngIf="question.picturePath">
        <img [src]="environment.urlForAssets + constants.folderForSurveyPictures + question.picturePath" style="width:100%">
      </div>
      <div *ngIf="question.videoPath">
        <video loop style="width:100%" autoplay>
          <source type="video/webm" [src]="environment.urlForAssets + constants.folderForSurveyVideos + question.videoPath">
        </video>
      </div>
      <ion-grid fixed>
        <ion-row>
          <ion-col size="6" size-md="2" *ngFor="let answer of question.answers">
            <ion-card>
              <ion-card-content>
                <input type="radio" 
                      [name]="'question_' + question.order" 
                      [checked]="question.selectedAnswer === answer.order" 
                      [value]="answer.order" 
                      (change)="optionSelected(question, answer.order)"
                      style="vertical-align: middle;">
                <span (click)="optionSelected(question, answer.order)">
                  {{ answer.answer }}
                  <img *ngIf="answer.picturePath" 
                    (click)="optionSelected(question, answer.order)" 
                    [src]="environment.urlForAssets + constants.folderForSurveyPictures + answer.picturePath" style="width:100%">
                </span>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div>
      <input type="button" value="Sonucu Gör" (click)="submitSurvey()" >
    </div>
    <br>
    <br>
    <div>
      <ion-icon slot="start" [md]="'heart-outline'"></ion-icon>{{survey.likeCount}}
      <ion-icon slot="start" [md]="'heart-dislike-outline'"></ion-icon>{{survey.dislikeCount}}
      <ion-icon slot="start" [md]="'chatbox-ellipses-outline'"></ion-icon>{{survey.commentCount}}
    </div>
    <br>
    <div>
      <b>Yorum Yaz</b>
      <div class="text-pre-wrap" style="text-align: center;">
        <form #submitCommentForm="ngForm" novalidate>
          <ion-textarea name="comment" [(ngModel)]="enteredComment" #comment="ngModel" rows="6" cols="20" placeholder="Yorumunuzu buraya yazın..." style="background:#fdf7ad;border-radius:15px"></ion-textarea>
          <ion-button class="fixedbutton" (click)="submitComment(submitCommentForm)" shape="round">Gönder</ion-button>
        </form>
      </div>
    </div>
    <div>
      <b>Yorumlar</b>
    </div>
    <div *ngIf="hasMoreComments">
      <span (click)="loadPreviousComments()">Önceki yorumları gör</span>
    </div>
    <div *ngFor="let comment of comments" style="padding-bottom: 30px;">
      <div><b>{{ comment.user.fullName }} - </b>{{ comment.comment }}</div>
    </div>
  </div>
</ion-content>
