<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/myFals" color="primary"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="fal-detail">
  <ion-list *ngIf="fal" style="padding-top:50px">
    <ion-item>
      <ion-label color="primary">{{'FalType.' + fal.fortuneTellingType | translate}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label color="primary">Durum</ion-label>
      <ion-label class="ion-text-wrap">{{'FalStatus.Consumer.' + fal.status | translate}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label color="primary">Gönderme tarihi</ion-label>
      <ion-label>{{fal.submitDateUtc | date: 'dd.LL.yyyy HH:mm'}}</ion-label>
    </ion-item>

    <ion-item *ngIf="fal.status == constants.fortuneTellingStatuses.SubmittedByFortuneTeller">
      <ion-label color="primary">Yorum tarihi</ion-label>
      <ion-label>{{fal.submitByFortuneTellerDateUtc | date: 'dd.LL.yyyy HH:mm'}}</ion-label>
    </ion-item>

    <ion-item *ngIf="fal.fortuneTellingType != 'DreamInterpretation'">
      <ion-label color="primary">Konu</ion-label>
      <ion-label>{{'Type.' + fal?.type | translate}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label color="primary">Falcı</ion-label>
      <ion-label>{{fal.fortuneTeller?.fullName}}</ion-label>
    </ion-item>

    <ion-item *ngIf="fal.fortuneTellingType == 'DreamInterpretation'">
      <ion-label color="primary">Rüya</ion-label>
      <ion-label class="ion-text-wrap">{{fal?.userInput}}</ion-label>
    </ion-item>

    <ion-item *ngIf="fal.status == constants.fortuneTellingStatuses.SubmittedByFortuneTeller">
      <ion-label color="primary">Yorum</ion-label>
      <ion-label class="ion-text-wrap">{{fal?.fortuneTellerComment}}</ion-label>
    </ion-item>

    <ion-item *ngIf="fal.status == constants.fortuneTellingStatuses.SubmittedByFortuneTeller">
      <ion-label color="primary">{{ fal.userStarPoint > 0 ? 'Verilen Puan' : 'Puan verin' }}</ion-label>
      <ion-label><pm-star [rating]="fal.userStarPoint" [disabled]="fal.userStarPoint > 0" (ratingClicked)="starClicked($event)" size="large"></pm-star>
        <ion-button (click)="sendRate()" *ngIf="fal.userStarPoint == 0" [disabled]="ratingBeingSent">Gönder</ion-button>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
