<ion-content class="falci-detail">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/falcilist"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div>
    <img *ngIf="falci != null" [src]="environment.urlForAssets + constants.folderForProfilePictures + falci.picturePath" [alt]="falci?.name"><br>
  </div>

  <div class="ion-padding falci-detail" *ngIf="falci != null">
    <div style="text-align: center;"><b>{{ falci?.name }}</b></div>
    <br>
    <div style="display: block; margin-left: auto; margin-right: auto; width: 100%;">
      <table>
        <tr>
          <td style="text-align: center;">{{falci?.fullName}} ({{ falci?.connectionStatus }})</td>
        </tr>
        <tr>
          <td>Baktığı fal sayısı:</td>
          <td style="text-align: center;">{{ falci?.coffeFortuneTellingCount }}</td>
        </tr>
        <tr>
          <td>Fal puanı: </td>
          <td style="text-align: center;">{{ falci?.coffeePointPrice }}</td>
        </tr>
      </table>
    </div>
  </div>
</ion-content>
