<ion-content class="falci-detail">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/falciList" color="primary"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div class="profile-picture" *ngIf="falci != null">
    <img [src]="environment.urlForAssets + constants.folderForProfilePictures + falci.picturePath" [alt]="falci?.name"><br>
  </div>
  <ion-list *ngIf="falci != null">
    <ion-item>
      <ion-label color="primary">Falcı</ion-label>
      <ion-label>{{ falci?.fullName }} <pm-star [rating]="falci.userStarPointAvg"></pm-star></ion-label>
    </ion-item>

    <ion-item>
      <ion-label color="primary">Falcı Notu</ion-label>
      <ion-label class="ion-text-wrap">{{ falci?.description }}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label color="primary">Baktığı fal sayısı</ion-label>
      <ion-label>{{ falci?.coffeFortuneTellingCount }}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label color="primary">Fal puanı</ion-label>
      <ion-label>{{ falci?.coffeePointPrice }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
