<ion-content class="news-detail">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="news != null">
    <img [src]="environment.urlForAssets + constants.folderForFeedPictures + news.mainPhoto" style="width:100%">
  </div>

  <div class="ion-padding news-detail" *ngIf="news != null">
    <h2>{{news.title}}</h2>
    <hr>
    <p>
      {{news.infoHtml}}
    </p>
    <div *ngFor="let item of news.items" style="padding-bottom: 30px;">
      <div>{{ item.title }}</div>
      <div *ngIf="item.picturePath">
        <img  [src]="environment.urlForAssets + constants.folderForNewsPictures + item.picturePath" style="width:100%">
      </div>
      <div *ngIf="item.videoPath">
        <video loop style="width:100%" autoplay>
          <source type="video/webm" [src]="environment.urlForAssets + constants.folderForNewsVideos + item.videoPath">
        </video>
      </div>
      <div>{{ item.information }}</div>
    </div>
  </div>
</ion-content>
