
.mirrorItem {
    display: inline-block; 
    transform: scaleX(-1);
}

.active-photo {
    padding: 20px 0;
    min-height: 200px;
    text-align: center;
}
  
.active-photo img {
    max-width: 250px;
    max-height: 250px;
}
