<ion-content class="fal-detail">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/fortuneTellerFals" color="primary"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-grid fixed *ngIf="fal != null && fal.pictures != null && fal.pictures.length > 0">
    <ion-row>
      <ion-col size="3" size-md="2" *ngFor="let falImage of fal.pictures;let indexOfElement = index;">
        <ion-card  (click)="imageSelected(indexOfElement)">
          <ion-card-content>
            <span>
              <img (click)="imageSelected(indexOfElement)"  
                [src]="environment.urlForAssets + constants.folderForCoffeeFortuneTellingsPictures + falImage"
                [ngClass]="{ 'selectedImage' : indexOfElement == activeImageIndex }"
              />
            </span>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <img *ngIf="fal != null && fal.pictures != null && fal.pictures.length > 0" [src]="environment.urlForAssets + constants.folderForCoffeeFortuneTellingsPictures + fal.pictures[activeImageIndex]" />
  
  <ion-list *ngIf="fal" style="padding-top:50px">
    <ion-item>
      <ion-label color="primary">Durum</ion-label>
      <ion-label class="ion-text-wrap">{{'FalStatus.Falci.' + fal.status | translate}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label color="primary">Gönderme tarihi</ion-label>
      <ion-label>{{ fal.submitDateUtc | date: 'dd.LL.yyyy HH:mm'}}</ion-label>
    </ion-item>

    <ion-item *ngIf="fal.status == constants.fortuneTellingStatuses.SubmittedByFortuneTeller">
      <ion-label color="primary">Yorum tarihi</ion-label>
      <ion-label>{{fal.submitByFortuneTellerDateUtc | date: 'dd.LL.yyyy HH:mm'}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label color="primary">Konu</ion-label>
      <ion-label>{{'Type.' + fal.type | translate}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label color="primary">Kullanıcı</ion-label>
      <ion-label>{{fal.user?.userName}} - {{fal.user?.fullName}}</ion-label>
      <img [src]="environment.urlForAssets + constants.folderForProfilePictures + fal.user?.picturePath" style="width:100px;">
    </ion-item>

    <ion-item>
      <ion-label color="primary">Cinsiyet</ion-label>
      <ion-label  *ngIf="fal.consumerGender">{{fal.consumerGender | translate}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label color="primary">İlişki Durumu</ion-label>
      <ion-label *ngIf="fal.consumerRelationshipStatus">{{'RelationshipStatus.' + fal.consumerRelationshipStatus | translate}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label color="primary">Doğum Tarihi</ion-label>
      <ion-label>{{fal.consumerBirthDate | date: 'dd.LL.yyyy'}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label color="primary">Doğum Zamanı</ion-label>
      <ion-label>{{fal.consumerBirthTime | date: 'HH:mm'}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label color="primary">Meslek</ion-label>
      <ion-label>{{fal.consumerJob}}</ion-label>
    </ion-item>

    <ion-item *ngIf="fal.status == constants.fortuneTellingStatuses.SubmittedByFortuneTeller">
      <ion-label color="primary">Yorum</ion-label>
      <ion-label class="ion-text-wrap">{{fal?.fortuneTellerComment}}</ion-label>
    </ion-item>

    <ion-item *ngIf="fal.status == constants.fortuneTellingStatuses.SubmittedByFortuneTeller">
      <ion-label color="primary">Verilen Puan</ion-label>
      <ion-label><pm-star [rating]="fal.userStarPoint" [disabled]="false"></pm-star></ion-label>
    </ion-item>

    <ion-item *ngIf="fal.status == constants.fortuneTellingStatuses.SubmittedByUser">
      <!-- <ion-label color="primary">Yorum</ion-label> -->
      <div class="text-pre-wrap" style="text-align: center;" *ngIf="fal.status == constants.fortuneTellingStatuses.SubmittedByUser">
        <form #submitCommentForm="ngForm" novalidate>
          <ion-textarea name="comment" [(ngModel)]="submitFortuneTellerComment.comment" #comment="ngModel" rows="6" cols="150" placeholder="Yorumunuzu buraya yazın..." style="background:#fdf7ad;border-radius:15px"></ion-textarea>
          <ion-button class="fixedbutton" (click)="submitComment(submitCommentForm)" shape="round" [disabled]="commentSubmitting">Gönder</ion-button>
        </form>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
