<ion-content class="fal-detail">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/fortuneTellerFals"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-grid fixed *ngIf="fal != null && fal.pictures != null && fal.pictures.length > 0">
    <ion-row>
      <ion-col size="3" size-md="2" *ngFor="let falImage of fal.pictures;let indexOfElement = index;">
        <ion-card>
          <ion-card-content>
            <span (click)="imageSelected(indexOfElement)">
              <img  
                [src]="environment.urlForAssets + constants.folderForCoffeeFortuneTellingsPictures + falImage"
                [ngClass]="{ 'selectedImage' : indexOfElement == activeImageIndex }"
              />
            </span>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <img *ngIf="fal != null && fal.pictures != null && fal.pictures.length > 0" [src]="environment.urlForAssets + constants.folderForCoffeeFortuneTellingsPictures + fal.pictures[activeImageIndex]" />
  <br>

  <div class="ion-padding fal-detail" *ngIf="fal">
    <b>Durum: </b>{{'FalStatus.Falci.' + fal.status | translate}}<br>
    <b>Gönderme tarihi: </b>{{fal.submitDateUtc}}<br>
      <div *ngIf="fal.status == constants.fortuneTellingStatuses.SubmittedByFortuneTeller"><b>Yorum tarihi: </b>{{fal.submitByFortuneTellerDateUtc}}<br></div>
    <b>Konu: </b>{{'Type.' + fal.type | translate}}<br>
    <b>Kullanıcı: </b>{{fal.user?.fullName}}<br>
    <b>Yorum: </b><br>

    <div class="text-pre-wrap" style="text-align: center;" *ngIf="fal.status == constants.fortuneTellingStatuses.SubmittedByFortuneTeller">
      {{fal?.fortuneTellerComment}}
    </div>
    
    <div class="text-pre-wrap" style="text-align: center;" *ngIf="fal.status == constants.fortuneTellingStatuses.SubmittedByUser">
      <form #submitCommentForm="ngForm" novalidate>
        <ion-textarea name="comment" [(ngModel)]="submitFortuneTellerComment.comment" #comment="ngModel" rows="6" cols="20" placeholder="Yorumunuzu buraya yazın..." style="background:#fdf7ad;border-radius:15px"></ion-textarea>
        <ion-button class="fixedbutton" (click)="submitComment(submitCommentForm)" shape="round">Gönder</ion-button>
      </form>
    </div>
  </div>
</ion-content>
